@import "modern-normalize/modern-normalize.css";
@import "_var";
@import "_mixins";
@import "_fonts";

html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

body {
  overflow-x: hidden;
  background: #f4f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px 0;
}

.page-title {
  text-align: center;
  margin: 0 0 14px 0;
  color: @darkblue;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.input {
  border: none;
  background: transparent;
  outline: none;
  color: black;
  padding: 5px 0;
}

.input::placeholder {
  color: @gray;
}

.button{
  text-decoration: none;
  padding: 15px;
  outline: none;
  border: none;
  .br(10px);
  width: 100%;
  cursor: pointer;
}
.button-default{
  display: flex;
  justify-content: space-evenly;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: -0.327px;
  color: #3C4061;
  background: #fff;
}
.button-primary{
  background: @violet;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
}